@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

body {
    background: rgb(245, 245, 245);
}

/* Shared style */

section {
    margin-bottom: 80px;
}

.section-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.section-subtitle {
    padding: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    margin: 24px 0px;
    padding: 17px 34px 17px 34px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary:hover {
    cursor: pointer;
    background: rgb(5, 67, 51);
}

.btn-2 {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: white;
    margin: 24px 0px;
    padding: 17px 34px 17px 34px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.btn-2:hover {
    cursor: pointer;
    background: rgb(12, 83, 204);
}

.btn-3 {
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: white;
    margin: 24px 0px;
    padding: 17px 34px 17px 34px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.btn-3:hover {
    cursor: pointer;
    background: rgb(255, 174, 0);
}

/* Nav bar */

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
    background: rgb(245, 245, 245);
}

nav ul li {
    list-style: none;
    margin: 20px;
}

li button {
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
}

li button:hover {
    cursor: pointer;
    background: rgb(0, 106, 80);
    color: white;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

/* Banner Section */

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.banner-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    text-align: left;
}

.bannar-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

/* The Vision of Future */

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    margin: 0px 24px;
}

.card-1 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

.card-2 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.card-3 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 0px;
    margin: 24px 0px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.card-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

/* Recent News */

.news-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    margin-top: 32px;
}

.news-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

.news-card-conten {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 12px;
    padding: 0px;
}

.date-time span {
    margin: 0px 12px;
}

.news-card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}

.news-card-content p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0px;
}

.img img {
    width: 408px;
    border-radius: 24px;
}

/* Donate For Bangladesh */

.donate {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 0px;
}

.donate > p{
    text-align: center;
}
.donate-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 0px;
}

.c-1{
    background: rgb(255, 255, 255);
}
.c-2{
    background: rgb(198, 228, 214);
}

.donate-card {
    padding: 40px;
    border-radius: 16px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
}

.donate-card:hover {
    cursor: pointer;
    background: rgb(16, 44, 199);
    color: white;
}

#ammount {
    border: none;
    background: rgb(255, 255, 255);
    display: block;
    width: 100%;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    padding: 20px 40px 20px 40px;
}

